!<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS</title>
    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
</head>
<body>

<a href='{% url 'jquery' %}'>JQUERY</a>
<a href='{% url 'basic_jquery' %}'>Basic JQUERY Page</a>
<a href='{% url 'javascript' %}'>JS Page</a>
<a href='{% url 'jquery_pagination' %}'>JQuery Pagination</a>
<h3>Java Script Code Started Here...</h3>
{% comment %} onsubmit='return validateForm()' {% endcomment %}
<form name="form" action='' > 
  Value 1: <input type="text" name="value1"><br><br>
  Value 2: <input type="text" name="value2"><br><br>
  <input type="button" value="Submit" onClick="return validateForm()" >
  {% comment %} // onClick="return validateForm()"" {% endcomment %}
</form>


<div>

    <h1>Total : <p id='p'></p></h1>
</div>


<script>
    function validateForm(){
        var x = document.forms['form']['value1'].value;
        var y = document.forms['form']['value2'].value;

        function onlyLettersAndNumbers(str) {
            return /^[^a-zA-Z`!@#$%^&*()_+ \-=\[\]{};':"\\|,.<>\/?~]*$/.test(str);
        }
        if(x == '',y == '')
        {
            alert('Value Can`t be Blank')
        }
        else
        {
            if(onlyLettersAndNumbers(x) && onlyLettersAndNumbers(y))
            {
                let a = Number(x);
                let b = Number(y);
                document.getElementById('p').innerHTML =  a+b
            }
            else
            {
                alert('Please Enter Correct Value')
            }
        }

        
    }
</script>

<script>
    {% comment %} function validateForm(){
        //console.log('Function')
        let x = document.forms['form']['fname'].value;
        let y = document.forms['form']['sname'].value;
        //console.log(x)
        //document.getElementById('p').innerHTML = x
        if(x='' || y='')
        {
            alert('First Name is Required')
        }
        else
        {
            document.getElementById('p').innerHTML = x
            alert('Fields are is Required')
        }
    } {% endcomment %}
</script>

<script>
    //   let a = 5
    //   const b =a+10 
    
    //  JavaScript O/P using 4 Ways
    //  console.log(8+5);
    //  alert(a+b);
    //  document.getElementById('p').innerHTML = 5+6
    //  document.write('Hello') 
    
    {% comment %} let x = 10.2
    const y = 5.3
    var $ = 'majid'
    var $
    console.log($)
    document.getElementById('p').innerHTML = "Majid"+" "+"Mansuri" {% endcomment %}
    {% comment %} let x = 10
    x += 15
    console.log(x) {% endcomment %}

    {% comment %} const list = ['majid','mansuri','shubham','bhavsar']
    const l = list.length
    for(var i=0;i<l;i++)
        console.log(list[i])
        document.write(list[i]) {% endcomment %}

    {% comment %} document.getElementById('lname') {% endcomment %}
</script>

<script>
    {% comment %} let text = `
    majid mansuri
    from 
    Ahmedabad.`
    console.log(text)

    let name = 'majid'
    let city = 'Ahmedabad'

    console.log(`Hello ${name} from ${city}.`) {% endcomment %}
</script>

<script>
    //String Search Methods
    {% comment %} let text = "Please locate where 'locate' occurs!ATE"
    console.log(text.lastIndexOf('locate'))
    console.log(text.indexOf('locate'))

    console.log(text.search('locate'))
    console.log(text.search(/locate/))

    console.log(text.match('ate'))
    console.log(text.match(/ate/))

    console.log(text.match(/ate/g))
    console.log(text.match(/ate/gi))

    console.log(text.matchAll('locate'))
    console.log(text.matchAll(/locate/g))

    console.log(text.includes('locate'))
    console.log(text.includes('aTe'))
    console.log(text.includes('ATE'))

    console.log(text.includes('locate',15)) {% endcomment %}

    

</script>

<script>
    // String Methods
    {% comment %} let str = 'majid mansuri majid'
    //console.log(str.length)
    console.log(str.slice(7))
    console.log(str.slice(-7))
    console.log(str.slice(-12,-1))
    console.log(str.substring(5,10))
    console.log("*",str.substr(7,2))
    console.log("*",str.substr(7))
    console.log("*",str.substr(-5))
    console.log(str.replace('majid','sajid'))
    console.log(str.replace(/MAJID/i,'sajid'))
    console.log('Last: ',str.replace(/majid/g,'sajid'))
    console.log(str.replaceAll('majid','sajid'))
    console.log(str.toUpperCase())
    console.log(str.toLowerCase())
    let text1 = 'hello'+' '+'world'
    let text2 = 'world'

    console.log(text1.concat(' ',text2))
    let text3 = "       majid       "
    // console.log("text3",text3)
    console.log('trim',text3.trim())
    console.log(text3.trimStart())
    console.log(text3.trimEnd())

    let a = '5'
    console.log(a.padStart(4,'0'))
    console.log(a.padEnd(4,'0'))

    console.log(str.charAt(0))
    console.log(str.charCodeAt(0))
    console.log(str.split(' ')) {% endcomment %}


</script>
    
</body>
</html>